---
import "../styles/global.css";
import "@fontsource/inter/600.css";
import "@fontsource/roboto/700.css";
import { Logo } from "../components/Logo";
import { Menu } from "../components/Menu";
import "../../node_modules/highlight.js/styles/atom-one-dark.css";
import { GetData } from "../utils/loadData";
import { Header } from "../components/Header";
import classNames from "classnames";

const { title, px, py, description, Hero } = Astro.props;

const info = await GetData("information");
const settings = await GetData("settings");
const home = await GetData("home");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <div class={classNames("w-full flex flex-col", Hero && "h-full")}>
      <Header settings={settings} info={info} />
      {Hero && <Hero info={info} home={home} />}
    </div>
    <div style={{ padding: `${py} ${px}` }}><slot /></div>
  </body>
</html>
